
.map {

    padding: 20px;
  }
  
  .sidingdata {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .sidingdata th, .sidingdata td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .sidingdata th {
    background-color: #f2f2f2;
    text-align: center;
  }
  
.sidingdata tbody tr:hover {
    background-color: #f5f5f5;
    cursor: pointer;
  }

  #add-button{
    position:absolute;
    bottom: 300px;
    right: 500px;
  }